:root {
  --hmk-todo-form-main-color: rgb(235, 176, 82);
  --hmk-todo-form-mid-gray-color: #555;
  --hmk-todo-form-light-gray-color: #ccc;
  --hmk-todo-form-dark-gray-color: #333;
}

form.project-form input {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  box-shadow: none;

  &:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }
}

/* Fix changes happen on filed after autocompletion */
form.project-form input:-webkit-autofill,
form.project-form input:-webkit-autofill:hover,
form.project-form input:-webkit-autofill:focus,
form.project-form input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px transparent inset !important;
  -webkit-text-fill-color: #000 !important;
  color: #000 !important;
}

form.project-form {
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form.project-form * {
  font: inherit;
  font-size: 1rem;
  color: var(--hmk-todo-form-dark-gray-color);
}

form.project-form > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;

  label {
    color: var(--hmk-todo-form-mid-gray-color);
    margin-right: 0.5rem;
    text-wrap: nowrap;
    width: 100%;
    display: flex;
    justify-content: space-between;

    span {
      font: inherit;
      font-size: x-small;
      color: #777;
    }
  }

  input {
    width: 100%;
    min-width: 0;
    border: 1px solid var(--hmk-todo-form-light-gray-color);
    border-radius: 0.5rem;
    color: var(--hmk-todo-form-dark-gray-color);
    padding: 0.5rem;

    &:hover,
    &:focus {
      box-shadow: 0 0 2px 0 var(--hmk-todo-form-light-gray-color);
    }

    &:invalid {
      border-color: var(--hmk-todo-form-main-color);
    }
  }
}

form.project-form div.submit {
  justify-content: flex-end;
  align-items: flex-end;

  button.submit.submit {
    color: #fff;
    font-weight: bold;
  }
}
